@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

/* шаблон вставки в html
@@include("../logo/logo.html", {
"second-class": "logo--"
})
*/

.logo {
  @include font--title();
  display: inline-block;

  margin: 0;
  padding: 2px 53px 0;

  font-weight: bold;

  font-size: 24px;
  color: #fff;

  background: #ee3643;
  box-shadow: 0 5px #b52933;
}

.logo--footer {
  padding: 11px 41px 11px 34px;

  font-size: 30px;
}