@import '../../scss/variables.scss';   
@import '../../scss/mixins.scss';    

.slider {
  width: 620px;
  height: 266px;

  background: #f2f6f8;
  h2{
    margin: 0;
    padding: 0;
  }
}
.slider__slide-perforators{
}
.slider__slide-drills{
  display: none;
}
