@mixin container() {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

@mixin font() {
  font-size: $font__size;
  line-height: $line-height;
  font-weight: $font__weight;
  font-family: $font__family;
  color: $color;
}

@mixin font--title() {
  font-size: $font__size--title;
  line-height: $line-height--title;
  font-weight: $font__weight--title;
  font-family: $font__family--title;
  color: $color--title;
  text-transform: $text-transform--title;
}

@mixin font--text() {
  font-size: $font__size--text;
  line-height: $line-height--text;
  font-weight: $font__weight--text;
  font-family: $font__family--text;
  color: $color--text;
}

@mixin font--icon() {
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

@mixin hidden-title() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

@mixin img-size() {
  max-width: 100%;
  height: auto;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin triangle($color, $direction, $size: 6px, $position: absolute, $round: false) {
  @include pseudo($pos: $position);
  width: 0;
  height: 0;
  @if $round {
    border-radius: 3px;
  }
  @if $direction == down {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
    margin-top: 0 - round( $size / 2.5 );
  } @else if $direction == up {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
    margin-bottom: 0 - round( $size / 2.5 );
  } @else if $direction == right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
    margin-right: -$size;
  } @else if $direction == left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
    margin-left: -$size;
  }
}