$font__family: "Cuprum", sans-serif;
$font__weight: normal;
$font__size: 18px;
$line-height: 24px;
$color: #000;

$font__family--text: "PT Sans", sans-serif;
$font__weight--text:normal;
$font__size--text:13px;
$line-height--text:24px;
$color--text:#000;

$font__family--title: "Cuprum", sans-serif;
$font__weight--title: normal;
$font__size--title: 30px;
$line-height--title: 40px;
$color--title: #000;
$text-transform--title: uppercase;