@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.site-footer {
  @include font--first(18px, 24px, #fff);
}

.site-footer__top {
  background: #32425c;
}

.site-footer__top .site-footer__wrapper {
  @include container();
  display: flex;
  justify-content: space-between;
}

.site-footer__adress {
  color: #f1f5f7;
  p {
    margin: 0;
    padding: 32px 0 50px 2px;
  }
}

.site-footer__menu {
  padding-top: 16px;
}

.site-footer__bottom {
  background: #293449;
}

.site-footer__bottom .site-footer__wrapper {
  @include container();
  display: flex;
  justify-content: space-between;
}

.site-footer__copyright {
  max-width: 300px;
  p {
    margin: 0;
    padding: 37px 0 0;

    font-size: 16px;
    line-height: 18px;
  }
}

.site-footer__social {
  padding: 36px 0 29px 46px;
}

.site-footer__developer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  box-sizing: border-box;
  width: 300px;

  font-size: 16px;
  line-height: 18px;
  p {
    margin: 0;
    padding: 37px 14px 0 0;
  }
  a {
    color: #ffd180;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: #ee3643;
      text-decoration: none;
    }
  }
}