@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.popular-manufacturers {
  padding-bottom: 65px;

  outline: 1px solid blue;
}

.popular-manufacturers__wrapper {
  @include container();
}

.popular-manufacturers__list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-manufacturers__item {
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  outline: 1px solid blue;
  &:nth-child(4n) {
    margin-right: 0;
  }
}