@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

/* шаблон вставки в html
@@include("../menu/menu-5.html", {
"second-class": "menu--",
"item1-href": "#",
"item2-href": "#",
"item3-href": "#",
"item4-href": "#",
"item5-href": "#",
"item1-text": "",
"item2-text": "",
"item3-text": "",
"item4-text": "",
"item5-text": "",
"item1-class": "menu__item",
"item2-class": "menu__item",
"item3-class": "menu__item",
"item4-class": "menu__item",
"item5-class": "menu__item"
})
*/

.menu {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
  li {
    display: none;

    padding: 20px 59px 14px 0;
    &:last-child {
      padding-right: 0;
    }
  }
  a {
    @include font--first(18px, 24px, #f1f5f7);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      text-decoration: none;

      opacity: 0.5;
    }
  }
}

.menu .menu__item {
  display: block;
}

.menu--footer-second {
  padding-left: 23px;
  a {
    color: #ffd180;
  }
}