@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

/*  шаблон вставки
@@include("../custom-list/custom-list-3.html", {
"second-class": "custom-list--",
"content1": "",
"content2": "",
"content3": ""
})
*/

.custom-list {
  @include font--first(18px, 24px, #000);
  margin: 0;
  padding: 0;

  list-style: none;
  li {
    position: relative;

    padding-bottom: 16px;
    padding-left: 36px;
    &::before {
      @include pseudo();
      top: 12px;
      left: 0;

      width: 25px;
      height: 2px;

      background: #fb565a;
    }
  }
}

.custom-list--about-us {
  padding-bottom: 19px;
}



