@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
/*  шаблон вставки
@@include("../custom-list/custom-list.html", {
"second-class": "custom-list--",
"content1": "",
"content2": "",
"content3": ""
})
*/

.custom-list {
  @include font();
  margin: 0;
  padding: 0;

  list-style: none;
}

.custom-list--about-us {
  padding-left: 20px;
}



