@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

/* шаблон вставки в html 
@@include("../range/range.html", {
"second-class": "range--",
"title": "",
"start-label": "",
"end-label": "",
"start-value": "",
"end-value": ""
})
*/

.range {
  @include font--second(17px, 30px, #000, bold, uppercase);
  margin: 0;
  padding: 0;

  border: none;
  border-bottom: 1px solid #e5e5e5;
  outline: none;
  legend {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  input {
    @include font--second(17px, 22px, #000);
    box-sizing: border-box;
    width: 96px;
    height: 38px;
    margin-bottom: 25px;
    padding: 0 10px 5px 15px;

    text-align: center;

    background: #f7f3ec;
    border: none;
    outline: none;
  }
}

.range__scale {
  position: relative;

  height: 80px;
  margin-bottom: 9px;

  background: #f7f3ec;
  &::after,
  &::before {
    @include pseudo();
    top: 39px;
    left: 20px;

    width: 180px;
    height: 2px;

    background: #d7dcde;
  }
  &::after {
    width: 140px;

    background: #00ca74;
  }
}

.range__toggle {
  position: relative;
  z-index: 10;

  width: 22px;
  height: 22px;

  background: #fff;
  border-radius: 50%;
  box-shadow: 0 2px rgba(0, 1, 1, 0.14);
  &::before {
    @include pseudo();
    top: 10px;
    left: 10px;

    width: 3px;
    height: 3px;

    background: #ababab;
  }
}

.range__toggle--start {
  top: 29px;
  left: 19px;
}

.range__toggle--end {
  top: 7px;
  left: 159px;
}

.range__input-start {
  margin-right: 4px;
}

