@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.section-title {
  display: flex;
  justify-content: space-between;

  margin-bottom: 21px;
  padding: 24px 24px 24px 26px;

  background: #f7f3ec;
  h2 {
    @include font--title();
    margin: 0;
    padding: 0;
  }
}

.section-title__link {
  vertical-align: middle;
}