@import '../../scss/variables.scss';   
@import '../../scss/mixins.scss';

.main-menu {
  height: 60px;

  background: #32425c;
}
.main-menu__list{
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}
.main-menu__item{
  a{
    padding: 0 30px;

    color: #fff;
    text-decoration: none;
  }
}