@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

/* шаблон вставки в html
@@include("../phone-number/phone-number.html", {
"second-class": "phone-number--",
"number": ""
})
*/

.phone-number {
  @include font--first(21px, 30px, #e9292a);
  position: relative;

  display: inline-block;

  padding: 5px 50px 5px 73px;

  border: 2px solid #fff;
}

.phone-number--icon-font {
  i {
      position: absolute;
      top: 5px;
      left: 8px;

      color: #b7bfc8;
  }
}