@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.about-us {
  padding-bottom: 87px;
  h2 {
    @include font--first(30px, 40px, #000, normal, uppercase);
    margin: 0;
    padding: 71px 0 16px;
  }
  p {
    @include font--second(13px, 24px, #000);
    margin: 0;
    padding: 5px 0 19px;
  }
}

.about-us__wrapper {
  @include container();
  display: flex;
  justify-content: space-between;
}

.about-us__column-left {
  width: 540px;
}

.about-us__column-right {
  width: 300px;
}

.services__map {
  height: 157px;
  margin-top: 13px;
  margin-bottom: 41px;

  background: #e5e5e5 url("../img/bg-map__page.jpg") no-repeat left top;
  cursor: pointer;
}
